{% extends "logbook/base.html" %}
    {% block title %} servant list 
{% endblock %}
{% block content %}
<ul>
<!-- loops over each dict inside the list-->
{% for servant in servants %}
<!--create a link for the servant_details page-->
    <li> <a href="{% url 'servant-details' pk=servant.pk %}"> {{servant.name}} </a> </li>
    {% if servant.name == "Arjuna alter" %}
        <img src="https://tse4.mm.bing.net/th/id/OIP.x6nZoP66_L_C0S8yd1PCdQAAAA?rs=1&pid=ImgDetMain&o=7&rm=3" alt="">
        {% endif %}
{% endfor %}
</ul>
{% endblock %}